@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

* {
  box-sizing: border-box;
}
#body {
  background-color: lightgray;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

body .btn {
  background-color: rgb(255, 179, 16);
  width: 100px;
  margin: 10px;
  border: 2px solid black;
  font-weight: 700;
  color: #fff;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

body .btn:focus {
  box-shadow: none;
}

body .btn:hover {
  color: #fff;
}

body .btn:active {
  transform: scale(0.98);
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url("https://media.giphy.com/media/j5zqQSABpeHCU8EpO3/giphy.gif");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.5s ease;
}

.box::before {
  content: "";
  background-color: rgb(255, 179, 16);
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}

.box::after {
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
